@model VideoPlayer.Model.Cartoon
@{
    ViewBag.Title = "Details";

}

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji odabrani crtic!</div>
}
else
{
    <div class="container">
        <div class="jumbotron">
            <div>
                <div class="row">
                    <div class="col-xs-8">
                        <h1>@Model.Name (@Model.Year.)</h1>
                        <h3>(@Model.Name_ENG)</h3>
                    </div>
                    <div class="col-xs-4 text-right" style="padding-top:20px;">
                        <a href="@Model.ImdbURL" target="_blank"><img src="https://bigsonia.com/wp-content/uploads/imbd-1.png" /></a>
                        <a href="@Model.TrailerURL" target="_blank"><img src="http://luckyline.com/wp-content/plugins/accesspress-social-icons/icon-sets/png/set1/youtube.png" /></a>
                    </div>
                </div>
            </div>
            <h4>
                @foreach (var category in Model.Categories)
                {
                    <span>@category.ToString()</span>
                }
            </h4>
            <br />
            <p>@Model.Description</p>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#googleDrive">Google Drive</a></li>
            <li><a data-toggle="tab" href="#Website">Website</a></li>
            <li><a data-toggle="tab" href="#lokalno">VLC</a></li>
            <li><a data-toggle="tab" href="#download">Download</a></li>
        </ul>
        <br />
        <br />
        <div class="tab-content">
            <div id="googleDrive" class="tab-pane fade in active">
                <iframe width="700" height="500" src="@Model.GoogleDriveURL"
                        allowfullscreen="allowfullscreen"
                        mozallowfullscreen="mozallowfullscreen"
                        msallowfullscreen="msallowfullscreen"
                        oallowfullscreen="oallowfullscreen"
                        webkitallowfullscreen="webkitallowfullscreen"></iframe>
                <br />
                <a href="@Model.GoogleDriveURL" target="_blank" style="font-weight:bold">Google Drive link</a>
            </div>
            <div id="Website" class="tab-pane fade">
                @switch (Model.VideoURL.Substring(Model.VideoURL.Length - 3))
                {
                    case "mkv":
                    case "avi":
                        <p>Browser ne podržava ovu vrstu datoteke, stoga je potrebno otvoriti u VLC media playeru ili preko Google Drive.</p>
                        break;
                    default:
                        <video width="400" controls>
                            <source src="@Model.VideoURL" type="video/mp4">
                        </video>
                        break;
                }
            </div>
            <div id="lokalno" class="tab-pane fade">
                <a asp-action="DownloadCartoon" asp-controller="Cartoon" asp-route-id="@Model.ID">
                    <span style="font-weight:bold">Pokreni u VLC</span>
                </a>
                <br />
                <br />
                <p>Nemaš VLC player?? Skini ga <a href="https://www.videolan.org/vlc/index.html" target="_blank">OVDJE</a></p>
            </div>
            <div id="download" class="tab-pane fade">
                <a href="@Model.VideoURL" style="font-weight:bold">Download</a>
                <br />
            </div>
        </div>
    </div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model.ID">Uredi</a>
}


@section scripts
    {
    <style type="text/css">
        a.classname {
            color: red;
            background-color: aqua;
            display: block;
            width: 150px;
            height: 150px;
            text-indent: -9999px; /* hides the link text */
        }

        #tab {
            padding-left: 50px;
            padding-top: 20px;
        }
    </style>

}

